[submodule "Assets/Paraphernalia"]
        path = Assets/Paraphernalia
        url = https://github.com/ShreveportArcade/Paraphernalia.git
[submodule "Assets/PrettyPoly"]
        path = Assets/PrettyPoly
        url = https://github.com/ShreveportArcade/PrettyPoly.git